.offer-card-box{
    margin: 40px;

}
.offer-card-box .css-1633um2-MuiPaper-root{
  box-shadow: none;
}
.count-down-text p{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: gray;
}
.offer-perc{
    font-size: 3.375em;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.offer-perc sup{
    top: -0.5em;
    font-size: 60%;
    position: relative;
    vertical-align: baseline;
}
.offer-perc small{
    display: inline;
    font-size: 0.30em;
    letter-spacing: 0;
    margin-left: -1.5em;
}
.offer-product-name{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: gray;
}

.collection-group-cards:hover{
    background:rgba(0,0,0,0.3)
}
.collection-item{
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    display: block;
    left: 10px;
    position: absolute;
    right: 10px;
    line-height: 1em;
    z-index: 2;
    padding:10px;
}
.collection-item::after{
    background-color: #000000;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.01;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .8s ease;
    z-index: auto;
}

.collection-item > span{
    font-size: .8em;
    letter-spacing: .2em;
    text-transform: uppercase;
    background-color: #ffffff;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    color: #000000;
    display: inline-block;
    padding: 8px 15px;
}