@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Twentieth Century", sans-serif;
  /* letter-spacing: 0.025em; */
  line-height: 1.4;
  font-weight: 400;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

ul li {
  text-decoration: none;
  list-style: none;
}

h1,p{
  margin: 0;
  padding: 0;
}

.page-width {
  margin: 0 auto;
  width: 95%;
  height: 100%;
}
.text-center{
  text-align: center !important;
}
.index-section{
  margin: 75px 0;
}
.section-header{
  margin-bottom: 50px;
}
.section-header--title{
  font-family: "Tenor Sans",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(36px*.86);
  line-height: 23px;
  letter-spacing: 2px;
}
.section-button{
  margin:20px;
}
.section-button button{
  padding: 10px;
    width: 120px;
    border: 1px solid lightgray;
    color: #343434;
    letter-spacing: 2px;
}
.section-button button:hover{
  border: 1px solid black;
}
.text-uppercase{
  text-transform: uppercase;
}

