@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

ul li {
  text-decoration: none;
  list-style: none;
}

h1,p{
  margin: 0;
  padding: 0;
}

.page-width {
  margin: 0 auto;
  width: 95%;
  height: 100%;
}
.text-center{
  text-align: center !important;
}
.index-section{
  margin: 75px 0;
}
.section-header{
  margin-bottom: 50px;
}
.section-header--title{
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 23px;
  letter-spacing: 2px;
  color: #575454;
}
.section-button{
  margin:20px;
}
.section-button button{
  padding: 10px;
    width: 120px;
    border: 1px solid lightgray;
    color: #343434;
    letter-spacing: 2px;
}
.section-button button:hover{
  border: 1px solid black;
}
.text-uppercase{
  text-transform: uppercase;
}
