.index-section{
    margin: 75px 0;
}
.enlarge-text {
    font-size: 1.3em;
    margin: 0;
}
.grid .css-1633um2-MuiPaper-root{
    box-shadow: none;
    padding: none;
    padding-left: 20px;
    padding-right: 20px;
}

.enlarge-text .border-line{
    position: relative;
    cursor: pointer;
}

.border-line::after{
    content: "";
    position: absolute;
    background-color: black;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  .border-line:hover{
    color: #343434;
  }
  .border-line:hover::after{
    width: 100%;
  }